* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: sans-serif, Helvetica;
}

.background-image {
    width: 40%;
    height: 100%;
}



.foreground-pic{
    margin-top: 100px;
    margin-left: 150px;
    position: absolute;
    background-color: rgba(0,0,0,.5);
}

.container {
    display: flex;
}

.bottom-left-text {
    position: absolute;
    bottom: 36px;
    left: 16px;
    color: white;
}

.upper-text {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    background-color: #FAFAFA; 
}

.under-upper-text {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FAFAFA;
}