* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: sans-serif, Helvetica;
}

.background-image {
    width: 40%;
    height: 100%;
}

.container {
    display: flex;
}

.bottom-left-text {
    position: absolute;
    bottom: 36px;
    left: 16px;
    color: white;
}